<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script>const ROOM_ID = "<%= createRoomID %>"
  const randomUsername =   "<%= randomUsername %>"
  </script>
  <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js" defer></script>
  <script src='//js.zapjs.com/js/download.js'></script>
  <script src="/socket.io/socket.io.js" defer> </script>
  <script src="scripts.js" defer></script>
  <link rel="stylesheet" href="./styles/style.css" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <title>CRAFT</title>
</head>

<body class="min-h-screen relative bg-gradient-to-r from-indigo-400 via-indigo-500 to-purple-600">
  <div id="qrDiv" class="fixed inset-0 backdrop-blur-sm flex justify-center items-center hidden">
    <img id="qrImg" class=" animate-fadeInDown" alt="Qr Code">
  </div>
  <div id="roomContainer" class="min-w-max h-auto text-center bg-slate-300">
    <div id="roomDiv" class="p-1 w-fit mx-auto cursor-pointer">
      <span class="text-2xl">Room</span>
      <br />
      <span id="currentRoom" class="text-2xl font-light">
        <%= createRoomID %>
      
      </span>
    </div>
  </div>
  <div class=" py-10 px-12">
    <div id="MainGrid" class="grid md:grid-flow-row lg:grid-cols-4 gap-10 p-5 content-center"></div>
  </div>
  <div class="absolute inset-x-0 bottom-0 content-center text-center mx-auto mb-2 w-fit py-3 px-5 rounded-lg bg-indigo-300 ">
    <span class="font-bold">You are</span><br><span class="capitalize" id="urID"></span>
  </div>
</body>

</html>